<div class="center">
  <button class="btn btn-primary" routerLink="/admin/lisa">{{"LISA TOODE" | translate}}</button>{{" "}}
  <button class="btn btn-primary" routerLink="/admin/halda">HALDA TOOTEID</button>{{" "}}
  <button class="btn btn-primary" routerLink="/admin/kategooriad">HALDA KATEGOORIAID</button>{{" "}}
  <button class="btn btn-primary" routerLink="/admin/poodide-seaded">HALDA POODE</button>{{" "}}
  <button class="btn btn-primary" routerLink="/admin/karuselli-seaded">HALDA KARUSELLI PILTE</button>{{" "}}
</div>
