.cart-link {
  margin-right: 30px;
}

.languages {
  margin-right: 100px;
}

.lang, .cart-link img {
  height: 30px;
  width: 30px;
  margin: 5px;
}

.lang:hover, .cart-link:hover {
  opacity: 0.7;
  cursor: pointer;
}

.lang:active {
  padding: 1px;
}

.nav-link {
  cursor: pointer;
}

.navbar {
  position: fixed;
  z-index: 9999;
  width: 100%;
  top: 0;
}

